<% meta_title("About") %>

	<p>Hi there! My name is Esther Rogers, and I mainly write about fashion, beauty and lifestyle—with the occasional celebrity interview and restaurant review thrown in for good measure.</p> 
	<p>I grew up in the glorious city of Toronto, but I spent four years living and working in the equally glorious London and Los Angeles. Add some globetrotting to the mix, and I’ve gathered a pretty good arsenal of writing inspiration. I still love to travel, and eagerly await any excuse to take a trip somewhere. But a girl’s gotta eat, so I currently edit LA-based Revere Magazine and work as a freelancer. I also have a background in social media management and PR, so you may find my copywriting littered around cyber space.</p>
	<p>If you’re interested in working with me, please email me at <%= link_to "estherraday@gmail.com", "mailto:estherraday@gmail.com" %>. You can also connect with me on <%= link_to "LinkedIn", "http://ca.linkedin.com/pub/esther-rogers/34/130/5b9/", target: "_blank" %>.</p>
<p>Have an awesome day!</p>
<p>- Esther</p>
	