<% meta_title("Contact") %>

<center>
	<p><%= link_to "estherraday@gmail.com", "mailto:estherraday@gmail.com" %></p>
	<p><%= link_to "@thebagthief", "https://twitter.com/thebagthief", target: "_blank" %></p>
	<p><%= link_to "LinkedIn", "http://ca.linkedin.com/pub/esther-rogers/34/130/5b9/", target: "_blank" %></p>
</center>