<%= meta_title "Something went wrong" %>	
		
<center>
	<h2>Something went wrong</h2>
	<% if @exception %>
	  <p><%= @exception.message %></p>
	<% end %>
	  <p>Something broke our end. Sorry, please try again later</p>
	<%= link_to "Home", root_path %>
</center>