@import url(http://fonts.googleapis.com/css?family=Lobster&subset=all);

//@font-face {
//	font-family: 'lobster_1.3regular';
//    src: url('lobster_1.3-webfont.eot');
//    src: url('lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
//         url('lobster_1.3-webfont.woff') format('woff'),
//         url('lobster_1.3-webfont.ttf') format('truetype'),
//         url('lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

h1 {
	font-family: 'Lobster', cursive;
	line-height:50px;
	font-weight: 300;
}
h2 {
	font-family: 'Lobster', cursive;
	font-weight: 300;
}
h3 {
	text-transform:uppercase;
	font-weight: 300;
}
em, small {
	font-weight: 300;
	color: #888;
}
tag {
	text-transform: uppercase;
	font-weight:300;
}
// logo //

.logo {
	font-size: 60px;
	margin: 30px 0px;
	letter-spacing: 2px;
	text-align:center;
	a {
		color: #333;
	}
}
.logo a:hover {
	text-decoration:none;
	color: #666;
}

// header //

nav {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border: -moz-linear-gradient(left, #a3a3a3 0%, #000000 31%, #000000 69%, #e5e5e5 100%); /* FF3.6+ */
	border: -webkit-gradient(linear, left top, right top, color-stop(0%,#a3a3a3), color-stop(31%,#000000), color-stop(69%,#000000), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	border: -webkit-linear-gradient(left, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	border: -o-linear-gradient(left, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* Opera 11.10+ */
	border: -ms-linear-gradient(left, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* IE10+ */
	border: linear-gradient(to right, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */	
}
.navigation {
	width:100%;
	text-align:center;
	padding: 10px 0px;
	margin-bottom: 20px;
	text-transform: uppercase;
	a {
		margin-right:10px;
		font-weight:300;
		color: #888;
	}
	.current {
		font-weight:bold;
	}
}
// forms //

#attachments {
	margin-bottom:10px;
	.field {
		text-align:center;
		display:inline-block;
		margin-right:10px;
	}
}
.remove_fields {
	margin-bottom: 20px;
}
form img {
	margin-bottom:10px;
}
.destroy-link {
	display:block;
}

// portfolio pieces //
.portfolio-wrapper {
	text-align:left;
}
.portfolio {
	display:inline-block;
	margin-bottom: 20px;
	text-align:center;
	width:227px;
}

// Home page rollover effects //
.grid {
	margin: 0 auto;
	list-style: none;
	text-align: center;
	max-width: 940px;
	li {
		display: inline-block;
		margin: 0;
		text-align: left;
		position: relative;
	}
	figure {
		margin: 0;
		position: relative;
		img {
			max-width: 100%;
			display: block;
			position: relative;
		}
	}
	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px 7px;
		background: #222;
		color: #fff!important;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		h3, h3 a {
			font-size: 16px;
			line-height: 20px;
			margin: 0;
			padding: 5px 0;
			color: #fff!important;
		}
	}
}
.cs-style-3 {
	figcaption {
		width: 100%;
		top: auto;
		bottom: 0;
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
		transition: transform 0.4s, opacity 0.1s 0.3s;
	}
	figure {
		overflow: hidden;
		img {
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;
			width: 100%;
		}
	}
}
.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
}
.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

// pagination //

.pagination {
	text-align:center;
	.current {
		background: #000;
		color: #fff;
		padding: 5px 9px;
		border-radius: 50%;
	}
	a, .next_page, .next_page a{
		color: #888;
		font-weight:300;
	}
}
// errors //
#error_explanation {
	padding: 10px 30px;
	background: #E47070;
	margin-bottom: 10px;
	color: #fff;
}