@font-face {
	font-family: 'lobster_1.3regular';
    src: url('lobster_1.3-webfont.eot');
    src: url('lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobster_1.3-webfont.woff') format('woff'),
         url('lobster_1.3-webfont.ttf') format('truetype'),
         url('lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'lobster_1.3regular';
	line-height:50px;
	font-weight: 300;
}
h2 {
	font-family: 'lobster_1.3regular';
	font-weight: 300;
}
em {
	font-weight: 300;
	color: #888;
}
// logo //

.logo {
	font-size: 60px;
	margin: 30px 0px;
	letter-spacing: 2px;
	text-align:center;
	a {
		color: #333;
	}
}

// header //

nav {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border: -moz-linear-gradient(left, #a3a3a3 0%, #000000 31%, #000000 69%, #e5e5e5 100%); /* FF3.6+ */
	border: -webkit-gradient(linear, left top, right top, color-stop(0%,#a3a3a3), color-stop(31%,#000000), color-stop(69%,#000000), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	border: -webkit-linear-gradient(left, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	border: -o-linear-gradient(left, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* Opera 11.10+ */
	border: -ms-linear-gradient(left, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* IE10+ */
	border: linear-gradient(to right, #a3a3a3 0%,#000000 31%,#000000 69%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
	
}
.navigation {
	width:100%;
	text-align:center;
	padding: 10px 0px;
	margin-bottom: 20px;
	text-transform: uppercase;
	a {
		margin-right:10px;
		font-weight:300;
		color: #888;
	}
}
// forms //
.media-upload {
	border: 1px solid #ccc;
	display:inline-block;
	padding: 10px;
	margin: 0 0 10px 0px;
	img {
		margin-bottom: 5px;
	}
}
.destroy-link {
	display:block;
}

// portfolio pieces //
.portfolio-wrapper {
	text-align:left;
}
.portfolio {
	display:inline-block;
	margin-bottom: 20px;
	text-align:center;
	width:227px;
}