// fonts //

.container {
	max-width:940px;
}
.btn {
	color: #fff!important;
	text-shadow: 0px 0px 0px #fff!important;
	border: none!important;
	background-image: none!important;
	border-color: #888!important;
	box-shadow: 0px 0px 0px #fff;
	-webkit-box-shadow: 0px 0px 0px #fff;
	-moz-box-shadow: 0px 0px 0px #fff;
}

select, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], 
.uneditable-input, textarea {
	width:100%;
	min-height:30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	padding:3px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}
input[type="file"] {
	line-height:10px;
}
.center {
	text-align:center;
}
form {
	small {
		margin-bottom:10px;
		display:block;
		margin-top:-5px;
	}
}