@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 480px) and (max-width: 767px) {
	.cs-style-3 figure img {
		-webkit-transform: translateY(-40px);
		-moz-transform: translateY(-40px);
		-ms-transform: translateY(-40px);
		transform: translateY(-40px);
	}
	.cs-style-3 figure figcaption {
	    opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s;
		transition: transform 0.4s, opacity 0.1s;
	}
}
@media (min-width: 270px) and (max-width: 480px) {
	.cs-style-3 figure img {
		-webkit-transform: translateY(-40px);
		-moz-transform: translateY(-40px);
		-ms-transform: translateY(-40px);
		transform: translateY(-40px);
	}
	.cs-style-3 figure figcaption {
	    opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s;
		transition: transform 0.4s, opacity 0.1s;
	}
}